<?xml version="1.0"?>

<ruleset name="Shop Co Core">
	<description>WordPress coding standards for the Shop Co Core plugin.</description>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="8.1-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="shop-co-core"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="shop_co_core"/>
				<element value="SHOP_CO_CORE"/>
			</property>
		</properties>
	</rule>

	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<severity>0</severity>
	</rule>
</ruleset>
