.env
.tmp/

vendor/
node_modules/
wp-content/themes/shop-co/node_modules/
build

wp-content/plugins/*
!wp-content/plugins/.gitkeep
!wp-content/plugins/shop-co-core/
!wp-content/plugins/shop-co-core/**
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log
wp-content/themes/twentytwentyfive

.DS_Store
Thumbs.db
