.env
.tmp/

vendor/
node_modules/
wp-content/themes/shop-co/node_modules/
build

wp-content/plugins/woocommerce/
wp-content/plugins/akismet
wp-content/plugins/query-monitor
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log
wp-content/themes/twentytwentyfive

.DS_Store
Thumbs.db
