<?xml version="1.0"?>

<ruleset name="Shop Co">
	<description>WordPress coding standards for the Shop Co theme.</description>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<file>wp-content/themes/shop-co</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>

	<rule ref="WordPress"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="8.1-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="shop-co"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="shop_co"/>
				<element value="SHOP_CO"/>
			</property>
		</properties>
	</rule>

	<!-- WooCommerce template overrides use variables supplied by WooCommerce. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>*/woocommerce/*</exclude-pattern>
	</rule>

	<!-- Existing WooCommerce hooks must retain their original names. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<exclude-pattern>*/woocommerce/*</exclude-pattern>
	</rule>

	<!-- Reuse translations provided by WooCommerce. -->
	<rule ref="WordPress.WP.I18n.TextDomainMismatch">
		<exclude-pattern>*/woocommerce/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property name="customAutoEscapedFunctions" type="array">
				<element value="shop_co_get_icon"/>
			</property>
		</properties>
	</rule>
</ruleset>
