@use "../helpers" as *;

.site-comments {
	display: flex;
	flex-direction: column;
	gap: fluid(24, 20);
	position: relative;

	&__loading {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.05);

		&[aria-hidden="true"] {
			display: none;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		@include mobile {
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&__title {

		@include mobile {
			font-size: 20px;
		}

		span.value {
			display: inline-block;
			font-size: fluid(16, 14);
		}
	}

	&__actions {
		display: flex;
		align-items: stretch;
		gap: 10px;

		> .site-button {
			flex-shrink: 0;
			min-height: auto;
			line-height: 1;

			@include mobile {
				min-width: auto;
				font-size: 14px;
			}
		}

		> .site-select {

			@include mobile-above {
				min-width: 140px;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: fluid(20, 16);
		list-style: none;
		padding: 0;
		margin: 0;

		@include mobile {
			grid-template-columns: 1fr;
		}
	}
}
