.slider-arrows {
	display: flex;
	align-items: center;
	gap: 1rem;

	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		padding: 0;
		color: var(--shop-co-color-black);
		background-color: transparent;
		border: 0;
		cursor: pointer;

		&.swiper-button-disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}
}

