@use "./helpers" as *;

.opacity-60 {
	opacity: 0.6;
}

.opacity-40 {
	opacity: 0.4;
}

.opacity-10 {
	opacity: 0.1;
}

.site-border {

	@include site-border(true);
}

.container {
	width: 100%;
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {

	@include visually-hidden;
}

.visible-tablet {

	@include tablet-above {
		display: none !important;
	}
}

.hidden-tablet {

	@include tablet {
		display: none !important;
	}
}

.visible-mobile {

	@include mobile-above {
		display: none !important;
	}
}

.hidden-mobile {

	@include mobile {
		display: none !important;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.section-list {
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);
}

.section-margin-top {
	margin-top: var(--section-gap);
}

.site-link {

	@include site-link;
}

.d-flex {
	display: flex;
}

.align-self-center {
	align-self: center;
}

.align-items-center {
	align-items: center;
}

.gap-3 {
	gap: 1rem;
}
