@use './helpers' as *;

.opacity-60 {
	opacity: 0.6;
}

.opacity-40 {
	opacity: 0.4;
}

.opacity-10 {
  opacity: .1;
}

.site-border {
  @include site-border;
}

.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    @include visually-hidden;
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.hidden-table {
    @include tablet {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.overflow-hidden {
    overflow: hidden;
}
