@use './helpers' as *;

:root {
	// colors
	--shop-co-color-black: #000;
	--shop-co-color-black-opacity-10: rgba(0, 0, 0, .1);
	--shop-co-color-black-opacity-80: rgba(0, 0, 0, .8);
	--shop-co-color-white: #fff;
	--shop-co-color-gray: #f2f0f1;
	--shop-co-color-gray-1: #f0eeed;
	--shop-co-color-gray-2: #f0f0f0;
	--shop-co-color-red: #FF3333;
	--shop-co-color-red-opacity-10: rgb(255, 51, 51, .1);
	--shop-co-color-gold: #FFC633;
	--shop-co-color-green: #01AB31;

	// borders
	--shop-co-border-radius: 20px;
	--shop-co-border-radius-2: 62px;
	--shop-co-border-radius-3: 40px;
	--shop-co-border-radius-field: 26px;

  // sizes
  --shop-co-icon-size: 24px;
	--container-width: 1240px;
	--container-padding-x: 16px;
	--section-gap: #{fluid(80, 50)};

  // typography
  --font-base: satoshi, sans-serif;
  --font-accent: montserrat, sans-serif;
	--font-size-base: #{fluid(16, 14)};

	--transition-duration: .2s;
	--transition-duration-longer: .2s;

	--z-index-header: 100;

	@include mobile-xs {
		--container-padding-x: 8px;
	}

	--wc-form-color-background: var(--shop-co-color-gray);
}
